<% @title = "Studio | Loud House Publishing" %>
<div class="static-page" id="studio">
  <div class="static-page-body" id="studio">
    <h1 class="header" id="studio">Studio</h1>

    <hr id="studio">

    <p class="static-page-text" id="studio">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu orci sagittis, lobortis lacus sit amet,
      suscipit tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Maecenas sapien odio, sollicitudin eget nunc vel, faucibus ullamcorper dui. Etiam sed lectus vulputate, pharetra
      nibh id, interdum libero. Curabitur eget augue venenatis, pharetra urna sagittis, luctus dolor. Nullam et feugiat
      diam. Praesent diam purus, aliquam ut semper vel, mollis viverra quam. Quisque bibendum, eros at cursus tincidunt,
      leo dui eleifend leo, at tincidunt orci tellus congue dolor. Quisque porttitor nec orci nec auctor. Proin luctus
      hendrerit suscipit. Praesent aliquam leo a pulvinar dapibus. Nunc molestie molestie leo sed ultricies. Praesent diam
      justo, fringilla in diam et, vulputate consequat arcu. Vivamus sagittis neque eros, eu pulvinar mi venenatis a.
    </p>

    <p class="static-page-text" id="studio">
      Ut felis nisl, sollicitudin at odio ac, interdum ornare nulla. Nunc id eros purus. Cras quis lectus sit amet purus
      sodales ullamcorper. Proin tristique et nulla id pulvinar. Curabitur at risus commodo, sagittis dolor id, convallis
      tellus. Phasellus venenatis, enim at lobortis auctor, orci nulla interdum libero, sed hendrerit sapien est quis
      ante.
      Suspendisse sed dolor sagittis, efficitur nulla a, gravida dui. Proin a quam porttitor, mollis ipsum et, efficitur
      purus. Curabitur maximus orci sit amet sollicitudin auctor. Praesent faucibus est dui, eu bibendum turpis tempus at.
      Phasellus cursus, est non vehicula euismod, neque odio bibendum erat, sed gravida nisi lorem vitae massa. Phasellus
      nibh sem, eleifend vitae hendrerit non, eleifend vitae nunc.
    </p>
  </div>
</div>