<% if obj.errors.any? %>
  <div class="row">
    <div class="col-xs-8">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
