<div class="card featured-card" id="artist">
  <div class="card-body" id="artist">
    <div class="row">
      <div class="col-md-7">
        <h5><a class="card-title" id="artist" href="/artists/<%= artist.id %>"><%= artist.name %></a></h5>
        <p class="card-text" id="artist"><%= artist.description %></p>
      </div>
      <div class="col-md-5">
        <%= image_tag artist.photo.url(:medium), class: "featured-card-image" %>
      </div>
    </div>
  </div>
</div>