<div class="card featured-card" id="release">
  <div class="card-body featured-card-body" id="release">
    <div class="col-md">
      <%= image_tag release.album_art.url(:medium), class: "featured-card-image", id: "album_art" %>
    </div>
    <div class="col-md">
      <a class="card-title" id="release" href="/release/<%= release.id %>">
        <h5 class="artist-name" id="release"><%= release.artist.name %></h5>
        <h6 class="album-name" id="release"><%= release.title %></h6>
      </a>
    </div>
  </div>
</div>