<div class="home">
  <div class="center">
    <div class="center-inner">
      <%= image_tag('logo.png', id: 'logo') %><br>
      <ul>
        <li><a class="pages" id="about" href="/about">About</a></li>
        <li><a class="pages" id="events" href="/events">Events</a></li>
        <li><a class="pages" id="artists" href="/artists">Artists</a></li>
        <li><a class="pages" id="releases" href="/releases">Releases</a></li>
        <li><a class="pages" id="studio" href="/studio">Studio</a></li>
        <li><a class="pages" id="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

some placeholder text for the homepage
