<h1 class="center">LOUD HOUSE</h1>
<a href="/about">About</a>
<a href="/events">Events</a>
<a href="/artists">Artists</a>
<a href="/releases">Releases</a>
<a href="/studio">Studio</a>
<a href="/contact">Contact</a>
