<% @title = "Contact Us" %>
<div class="static-page" id="contact">
  <div class="col-md-7 static-page-body" id="contact">
    <h1 class="header" id="contact">Contact Us</h1>

    <hr id="contact">

    <p class="static-page-text" id="contact">
      Questions? Send us at email at loudhousepublishing@gmail.com or give us a call at (831) 555-5555
    </p>

  </div>
</div>