/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'about';
@import 'artists';
@import 'contact';
@import 'events';
@import 'home';
@import 'navigation';
@import 'releases';
@import 'scaffolds';
@import 'studio';
@import 'bootstrap';

/** nav bar backgrounds/styling **/

ul {
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  width: 33vw;
}

#page-bar {
  padding: 0;
  margin: 0;
}

.pages {
  line-height: 64px;
  min-width: 64px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url('navbar/blank.png');
}

.pages:hover {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.pages#about:hover {
  background-image: url('navbar/music.png');
}
.pages#events:hover {
  background-image: url('navbar/events.png');
}

.pages:hover .section-link {
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

.pages#artists:hover {
  background-image: url('navbar/artists.png');
}
.pages#releases:hover {
  background-image: url('navbar/releases.png');
}
.pages#studio:hover {
  background-image: url('navbar/studio.png');
}
.pages#contact:hover {
  background-image: url('navbar/contact.png');
}
.pages#logout:hover {
  background-image: url('navbar/logout.png');
}


.section-link, .section-link:visited {
  background-color: transparent;
  border-color: transparent;
  font-family: Georgia, serif;
  font-size: 18px;
  width: inherit;
  color: white;
  padding: 0;
  vertical-align: middle;

  margin:0 auto;
  display: block;
}

.section-link:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

col-xs-pages#events:hover .section-link{
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}

/** headers **/

.header-link, .header-link:visited {
  font-family: Georgia, serif;
  font-size: 48px;
  margin: 0;
  text-align: center;
  min-width: 273px;
}


.header-link:hover {
  background-color: transparent;
}

.header {
  font-family: Georgia, serif;
  font-size: 80px;
  margin: 0;
  text-align: center;
  min-width: 273px;
}

.center-inner {
  width: 33vw;
  margin: auto;
}

/** static pages **/

.static-page {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 85px;
  text-align: center;
}

.static-page-body {
  display: inline-block;
  width: 66%;
  height: 100%;
  overflow: auto;
  max-width: 600px;
  margin: auto;
  vertical-align: middle;
}

.static-page-text {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  margin: 0 14px 14px 14px;
  padding: 0;
  text-align: left;
}

hr {
  width: 66vw;
  max-width: 600px;
  margin: 0 auto 16px auto;
}

/** forms **/

.form {
  padding-top: 85px;
}

/** mobile **/

@media (max-width: 1295px) {
  .static-page-body {
    width: 100%;
  }
  .center-inner {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  #page-bar {
    width: 66vw;
    margin: auto;
  }
}

@media (max-width: 991px) {
  #page-bar {
    width: 100vw;
  }
  .pages {
    min-width: 150px;
  }
}