.static-page#contact {
  background-color: #cca566;
  color: #fff9f0;
}

.navbar#contact {
  background-color: #7C5517;
}

.header#contact {
  font-size: 80px;
  color: #fff9f0;
}

.static-page-body#contact {
  max-width: 100%;
  color: #fff9f0;
}

.static-page-text#contact {
  text-align: center;
}

hr#contact {
  border-top: 1px solid #FFECCC;
;
}



