.static-page#contact {
  background-color: #C58B00;
}

.navbar#contact {
  background-color: #7B5700;
}

.header#contact {
  font-size: 80px;
  color: #fff9f0;
}

.static-page-text#contact {
  text-align: center;
}

.static-page-text#label {
  margin-bottom: 8px;
}

.form-control {
  font-family: Verdana, sans-serif;
  background-color: #fff9f0 !important;
}

.btn-primary {
  color: #fff9f0 !important;
  background-color: #7B5700 !important;
  border-color: #7B5700 !important;
  font-family: Verdana, sans-serif;
}

.static-page-body#contact {
  color: #fff9f0;
}

hr#contact {
  border-top: 1px solid #fff9f0;
}




