// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** HOMEPAGE ***/

.home {
  background: url('home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table-cell;
  margin: auto;
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
}

#logo {
  width: 25vw;
  min-width: 350px;
}

#down-arrow {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  filter: opacity(.5);
}

#down-arrow:hover {
  -webkit-filter: opacity(.1);
  filter: opacity(1);
}

/*** FEATURES ***/

.featured {
  border-width: 18px 1px 0 1px;
  border-color: black;
  border-style: solid;
}

.featured-header {
  text-align: center;
  height: 57px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.featured-card {
  margin-bottom: 18px;
}

.featured-card-image {
  max-width: 250px;
  width: inherit;
  margin: auto;
  display: block;
  border: 2px solid;
}

.card-title, .card-title:visited {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 36px;
}

.card-title:hover {
  background: transparent;
  font-weight: 400;
}

.card-subtitle {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px !important;
}

.card-text {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-bottom: 6px;
  padding: 0;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row#featured-content {
  padding: 0;
  margin: 0;
}

/** featured events **/

.featured#events {
  //background-color: #669acc;
  background-color: #005C7B;
}

.header-link#events {
  color: #e5f0fa;
}

.header-link#events:hover {
  color: #a9cdef;
}

.featured-card#event {
  background-color: #005C7B;
  margin-bottom: 0;
}

.card#event {
  border-radius: 0;
  border-top-width: 2px;
  border-top-color: #e5f0fa;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.card-body#event {
  background-color: #005C7B;
  color: #e5f0fa;
}

.card-title#event {
  color: #e5f0fa;
}

.card-title#event:hover {
  color: #a9cdef;
}

.card-subtitle#event {
  color: #a9cdef;
}

.card-text#address_header {
  padding-left: 15px;
  padding-right: 0;
}

.card-text#address_body {
  padding-left: 5px;
}

/** featured artists **/

.featured#artists {
  //background-color: #cca566;
  background-color: #C58B00;
  //background-color: #7C5517;
}

.header-link#artists {
  color: #fff9f0;
}

.header-link#artists:hover {
  color: #ffda99;
}

.featured-card#artist {
  //background-color: #7C5517;
  background-color: #C58B00;
  margin-bottom: 0px;
}

.card#artist {
  border-radius: 0;
  border-top-width: 2px;
  border-top-color: #fff9f0;
  border-bottom-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.card-body#artist {
  //background-color: #7C5517;
  background-color: #C58B00;
  color: #fff9f0;
}

.card-title#artist {
  color: #fff9f0;
}

.card-title#artist:hover {
  color: #ffda99;
}

/** featured releases **/

.featured#releases {
  background-color: #B00035;
  //background-color: #cc7266;
}

.header-link#releases {
  color: #ffedeb;
}

.header-link#releases:hover {
  color: #ff9f94;
}

.featured-card#release {
  //background-color: #cc7266;
  background-color: #B00035;
  border-color: transparent;
}

.card-body#release {
  //background-color: #cc7266;
  background-color: #B00035;
  color: #ffedeb;
  padding: 0;
}

.featured-card-image#album_art {
  margin: 0 auto 12px auto;
}

.card-title#release {
  color: #ffedeb;
}

.card-title#release:hover {
  color: #ff9f94;
  text-decoration: none;
}

.artist-name#release {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.album-name#release {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1295px) {
  .header-link#releases {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  .header-link#releases {
    font-size: 48px
  }
}

@media (max-width: 1679px) and (min-width: 1296px) {
  .header-link#releases {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .featured-card-image {
    margin-top: 10px;
  }
}
