ul > li {
  display: inline;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: initial;
  text-align: right;
  background-color: #ddd;
}

.navbar-nav {
  margin-right: 0;
}

.navbar-brand {
  positon: fixed;
}