.static-page#studio {
  background-color: #005C7B;
}

.navbar#studio {
  background-color: #003E52;
}

.header#studio {
  font-size: 80px;
  color: #e5f0fa;
}

.static-page-body#studio {
  color: #e5f0fa;
}

hr#studio {
  border-top: 1px solid #e5f0fa; 
}


